.container {
  margin: 0 auto;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
form {
  flex-direction: row;
  gap: 8px;
  margin: 20px;
}
input {
  border: 1px solid #808080;
  padding: 8px 16px;
  border-radius: 4px;

  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #808080;

  transition: border-color ease 250ms;
}
input:hover {
  border-color: #000;
}
input:focus,
input:active {
  border-color: #0026ff;
  outline: none;
}
button {
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  background: #4e75ff;
  color: #fff;
  margin-top: 20px;
  width: 160px;
   font-size: 16px;

  transition: background-color ease 250ms;
}
button:hover {
  background-color: #6c8cff;
}

.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.gallery-item {
  display: flex;
  flex-direction: column;
  border: 1px solid #808080;
  width: calc((100% - 48px) / 3);
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
}
.gallery-images{
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.gallery-link{
  display: block;
  width: 100%;
  object-fit: cover;
}
.data-list{
display: flex;
justify-content: space-around;
padding: 4px 0;
margin: 0;
background-color: #fff;
}
.image-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}
.image-data-label{
font-weight: 600;
font-size: 12px;
line-height: 1.33333;
letter-spacing: 0.04em;
color: #2e2f42;
}
.image-data-text{
  font-weight: 400;
font-size: 12px;
line-height: 2;
letter-spacing: 0.04em;
color: #2e2f42;
}
.loader {
  top: 100px;
      width: 55px;
      height: 55px;
      border:10px solid #FFF;
      border-radius: 50%;
      position: relative;
      transform:rotate(45deg);
      box-sizing: border-box;
    }
    .loader::before {
      content: "";
      position: absolute;
      box-sizing: border-box;
      inset:-10px;
      border-radius: 50%;
      border:10px solid #FF3D00;
      animation: prixClipFix 2s infinite linear;
    }

    @keyframes prixClipFix {
        0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
        25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
        50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
        75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
        100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
    }
      
.is-hidden {
  display: none;
}